# директория с установленными пакетами npm
node_modules/
# файл с переменными окружения, содержащий API-ключи и секреты.
.env
# логи ошибок npm
npm-debug.log
# настройки редакторов Visual Studio Code или IntelliJ
.vscode
.idea
# системные файлы macOS
.DS_Store
# лог-файлы проекта
*.log

# отчёты покрытия кода
coverage/
# скомпилированные версии.
dist/
build/
# временные файлы редакторов
*.swp

